<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" lang="en">
    <head>
        <meta charset="utf-8">
        <title>EcoPalMaps</title>
        <meta name="description" content="Email inviata da EcoPalMaps">
        <meta name="author" content="EcoPalMaps">
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
        <meta property="og:title" content="Email inviata da EcoPalMaps">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 600px; width: 100%;">
            <table style="padding-top: 24px; padding-bottom: 24px;">
                <tr>
                    <td>
                        <a href="https://ecopalmaps.com" style="display: block; height: 36px;" title="EcoPalMaps" target="_blank">
                            <img src="https://ecopalmaps.com/logo512.png" style="width: 36px; height: 36px;" title="EcoPalMaps logo" />
                        </a>
                    </td>
                    <td style="padding-left: 12px;">
                        <div style="display: block; font-weight: 700; font-size: 24px; color: #000000;">
                            EcoPalMaps
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; padding-bottom: 24px;">
                <tr>
                    <div style="display: block; font-weight: 400; font-size: 18px; color: #000000;">
                        <%= fullName %> ti ha inviato un message.
                        <p><b>Indirizzo email</b> <%= email %></p>
                        <p><b>Oggetto</b> <%= subject %></p>
                        <p><b>Messaggio</b></p>
                        <p>
                            <%= message %>
                        </p>
                    </div>
                </tr>
            </table>
            <table style="width: 100%; padding-bottom: 24px;">
                <tr>
                    <span style="font-weight: 400; display: block; font-size: 16px; color: #000000;">
                        &copy; 2022 EcoPalMaps
                    </span>
                </tr>
            </table>
        </div>
    </body>
</html>