@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
}

body {
    overflow: auto;
}

.not-scrolling {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:focus {
    outline: none;
}

a {
    font-weight: 700;
    font-size: inherit;
    color: #edd035;
    text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    background-color: transparent;
    color: #000000;
    padding: 0;
    width: 100%;
    border: none;
}

textarea {
    resize: none;
}

input::-ms-reveal {
    display: none;
}

div.select-container {
    display: block;
    background-color: #c7c5bc;
    border-radius: 18px;
    width: 100%;
}

div.select__control {
    background-color: #c7c5bc;
    border: none;
    box-shadow: none;
    min-height: auto;
}

div.select__value-container {
    padding: 0;
}

div.select__single-value,
div.select__input-container {
    color: #000000;
    margin: 0;
    padding: 0;
}

span.select__indicator-separator {
    display: none;
}

div.select__indicator.select__dropdown-indicator {
    padding: 0;
    color: #000000;
}

div.select__indicator.select__dropdown-indicator svg {
    fill: #000000;
}

div.select__menu {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #c7c5bc;
    border-radius: 18px;
    box-sizing: border-box;
}

div.select__menu-list {
    margin: 0;
    padding: 0;
}

div.select__option {
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
}

div.select__option.select__option--is-focused {
    background-color: #000000;
    color: #ffffff;
}

div.select__option.select__option--is-selected {
    background-color: #edd035;
    color: #000000;
}

div.select__option:first-child {
    border-radius: 18px 18px 0px 0px;
}

div.select__option:last-child {
    border-radius: 0px 0px 18px 18px;
}

div.select__option:only-child {
    border-radius: 18px;
}

.modal-overlay {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10000;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 24px;
    min-width: 20vw;
    max-width: 40vw;
    overflow: hidden;
}

@media (max-width: 520px) {
    .modal {
        min-width: 60vw;
        max-width: 85vw;
    }
}

@media (min-width: 520px) and (max-width: 675px) {
    .modal {
        min-width: 60vw;
        max-width: 75vw;
    }
}

@media (min-width: 675px) and (max-width: 885px) {
    .modal {
        min-width: 50vw;
        max-width: 65vw;
    }
}

@media (min-width: 885px) and (max-width: 1050px) {
    .modal {
        min-width: 40vw;
        max-width: 55vw;
    }
}

@media (min-width: 1050px) and (max-width: 1200px) {
    .modal {
        min-width: 30vw;
        max-width: 45vw;
    }
}

._2ILZE {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background-color: #fff;
    flex-flow: column;
    align-items: stretch;
    box-sizing: border-box;
}

._1_Dg2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scale(1);
    transform-origin: top center;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

._2qwzr {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    flex: 0 1 auto;
}

._Pfcmb {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    touch-action: auto;
    flex: 0 1 auto;
}

._3q7r8 {
    background-color: #ffffff;
}

[data-is-not-keyboard-user="true"] *:focus {
    outline: none;
}

._L8X8r {
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateZ(0);
    transition-duration: 0s;
    transition-property: transform;
    transition-timing-function: linear;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

._L8X8r._or-gG {
    flex-direction: row-reverse;
}

._FP5OY {
    cursor: -webkit-grab;
    cursor: grab;
}

.isGrabbing > ._FP5OY {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

._1eGao {
    height: 100%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

._3iVQ0 {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    border-image-width: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    border-radius: 24px;
}

._t1897 {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    border-image-width: 0;
    padding: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

._1BRif {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

._1BRif._3UdL5 {
    display: none;
}

._1BRif::before,
._t1897::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444;
}

._3lwW_ {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

._1zlZS {
    opacity: 0.25;
    pointer-events: none;
    cursor: not-allowed;
}

._1R7KP {
    height: 50px;
    padding: 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

._1OkCh {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

.__JnHV {
    background: #c7c5bc;
    font-weight: bold;
    padding: 6px;
    opacity: 1;
    border-radius: 4px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

._3lLfB {
    filter: drop-shadow(0px 0px 5px #888);
}

._14Fp5 {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

._14Fp5._3Rfma {
    flex-direction: row-reverse;
}

/*center positions*/

._1cqA3 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

._2GizQ {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._2zEIf {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/*top positions*/

._lhmht {
    top: 0;
    left: 0;
}

._29p_Y {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

._3r4Pe {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

._1oKnM {
    top: 0px;
    right: 0px;
}

/*bottom positions*/

._2A4to {
    bottom: 0;
    left: 0;
}

._3apmu {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

._2ljUm {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

._3XvNX {
    bottom: 0;
    right: 0;
}

._ZTBlf {
    position: relative;
    margin: 0;
    border: none;
    padding: 0;

    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.75;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

._3LX_O {
    filter: drop-shadow(0px 0px 3px #888);
}

._ZTBlf:hover {
    opacity: 1;
}

@media (hover: none) {
    ._ZTBlf:hover {
        opacity: 0.75;
    }
}

._lfOsC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

._1Pekn {
    padding: 6px;
    background-color: hsla(49, 9%, 76%, 60%);
    border-radius: 50%;
}

._dZ8C- {
    padding: 6px;
    background-color: hsla(49, 9%, 76%, 60%);
    border-radius: 50%;
}

._20GWq {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

._3WRGR {
    fill: #ffffff;
}

._3WRGR.rotate {
    transform: rotate(180deg);
    transform-origin: center;
}

._1JHpX {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-break: normal;
    white-space: normal;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

._XQjA1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-zoom: 10%;
    zoom: 10%;
    font-size: 10%;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    pointer-events: none;
}

._XQjA1 * {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

._XQjA1 > * {
    pointer-events: none;
}

/*Only for Chrome, Opera and Edge*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    ._XQjA1 {
        font-size: 100%;
    }
}

/*Only for FireFox*/
@-moz-document url-prefix() {
    ._XQjA1 {
        font-size: 10%;
    }
}

._2c50p {
    flex: 0 0 10%;
    margin: 3px 0 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    cursor: -webkit-grab;
    cursor: grab;
    scrollbar-width: none;
    /* Prevent the default behaviour of "scroll chaining" where parent element
       gets scrolled when the child element is over scrolled,
       in order to prevent going to the previous or the next page. */
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none;
}

.isGrabbing._2c50p {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

._2c50p::-webkit-scrollbar {
    display: none;
}

._-LJ2W {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

._-LJ2W._3NsOQ {
    flex-direction: row-reverse;
    /*thumbnails would be frozen (can not be scrolled) with justify-content: flex-start;*/
    justify-content: flex-end;
}

._-cAh3 {
    display: block;
    height: 100%;
    min-width: 10%;
    width: 10%;
    max-width: 10%;
    overflow: hidden;
    margin-right: 3px;
    padding: 0;
    opacity: 0.5;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

._19gvi {
    opacity: 1;
}

._-cAh3:not(._19gvi):hover {
    opacity: 1;
}

/* prevent thumbnail to stay in the hover state on touch devices,
     since there is no such thing as "hover" on touch devices */
@media (hover: none) {
    ._-cAh3:not(._19gvi):hover {
        opacity: 0.5;
    }
}
