@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
}

body {
    overflow: auto;
}

.not-scrolling {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:focus {
    outline: none;
}

a {
    font-weight: 700;
    font-size: inherit;
    color: #edd035;
    text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    background-color: transparent;
    color: #000000;
    padding: 0;
    width: 100%;
    border: none;
}

textarea {
    resize: none;
}

input::-ms-reveal {
    display: none;
}

div.select-container {
    display: block;
    background-color: #c7c5bc;
    border-radius: 18px;
    width: 100%;
}

div.select__control {
    background-color: #c7c5bc;
    border: none;
    box-shadow: none;
    min-height: auto;
}

div.select__value-container {
    padding: 0;
}

div.select__single-value,
div.select__input-container {
    color: #000000;
    margin: 0;
    padding: 0;
}

span.select__indicator-separator {
    display: none;
}

div.select__indicator.select__dropdown-indicator {
    padding: 0;
    color: #000000;
}

div.select__indicator.select__dropdown-indicator svg {
    fill: #000000;
}

div.select__menu {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #c7c5bc;
    border-radius: 18px;
    box-sizing: border-box;
}

div.select__menu-list {
    margin: 0;
    padding: 0;
}

div.select__option {
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
}

div.select__option.select__option--is-focused {
    background-color: #000000;
    color: #ffffff;
}

div.select__option.select__option--is-selected {
    background-color: #edd035;
    color: #000000;
}

div.select__option:first-child {
    border-radius: 18px 18px 0px 0px;
}

div.select__option:last-child {
    border-radius: 0px 0px 18px 18px;
}

div.select__option:only-child {
    border-radius: 18px;
}

.modal-overlay {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10000;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 24px;
    min-width: 20vw;
    max-width: 40vw;
    overflow: hidden;
}

@media (max-width: 520px) {
    .modal {
        min-width: 60vw;
        max-width: 85vw;
    }
}

@media (min-width: 520px) and (max-width: 675px) {
    .modal {
        min-width: 60vw;
        max-width: 75vw;
    }
}

@media (min-width: 675px) and (max-width: 885px) {
    .modal {
        min-width: 50vw;
        max-width: 65vw;
    }
}

@media (min-width: 885px) and (max-width: 1050px) {
    .modal {
        min-width: 40vw;
        max-width: 55vw;
    }
}

@media (min-width: 1050px) and (max-width: 1200px) {
    .modal {
        min-width: 30vw;
        max-width: 45vw;
    }
}